<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<div class="banner" id="banner-clincs" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/1280935/screenshots/6944746/call-doctor-application.gif);">
  <div class="container">
    <h1>Reserva tu <strong>cita</strong>!</h1>
    <p>Encuentra el centro de salud mas cercano, a una llamada</p>
    <%= form_tag clinics_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Busca un centro de salud" %>
      <%= submit_tag "Buscar", class: "btn btn-flat my-3" %>
    <% end %>
  </div>
</div>

<div class="cards-container">

  <div class="only-cards mt-3">
    <h2 class="center " id="clinics-tittle">Centros de salud en el área</h2>
    <div class="cards">
      <% @clinics.each do |clinic| %>
        <div class="card-trip">
          <% if clinic.photo.present? %>
            <%= cl_image_tag clinic.photo.key %>
          <% else %>
            <img src="https://source.unsplash.com/1600x900/?office/<%= rand(1..30) %>" />
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to clinic.name, clinic_path(clinic) %></h2>
              <p style="display:inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 30ch;"><%= clinic.description %></p>
              <p>ubicado en: <%= clinic.address %></p>
            </div>
            <h2 class="card-trip-pricing">Abierto</h2>
            <% if clinic.photo.attached? %>
              <%= cl_image_tag clinic.photo.key, style: "width: 40px; height: 40px; object-fit: cover;", class: "card-trip-user avatar-bordered" %>
            <% else %>
             <%= image_tag "https://toppng.com/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png", class: "card-trip-user avatar-bordered" %>
            <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
  </div>

</div>
