<div class="container-edit d-flex">
<div class = "card-edit"><h2>Editar mis datos</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <div class="short d-flex ">
    <%= f.input :email, label: "Correo/email", required: true, autofocus: true %>
    <%= f.input :user_name, label: "Nombre", required: true, autofocus: true %>
    </div>
    <div class="short d-flex ">
    <%= f.input :dni, label: "DNI", required: true, autofocus: true %>
    <%= f.input :phone, label: "Teléfono", required: true, autofocus: true %>
    </div>
    <%= f.input :address, label: "Dirección", required: true, autofocus: true %>
    <%= f.input :photo, label: "Foto", required: false %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <div class="short d-flex ">
      <%= f.input :password,
                  hint: "dejar en blanco si no desea cambiar",
                  label: "Nueva Contraseña",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  label: "Repetir Nueva Contraseña",
                  input_html: { autocomplete: "new-password" } %>
    </div>
      <%= f.input :current_password,
                  hint: "necesitamos tu contraseña actual para aplicar los cambios",
                  label: "Contraseña Actual",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>

  </div>

   <div class="short d-flex mb-3 ">
  <div class="form-actions">
    <%= f.button :submit, "Actualizar", class: "btn btn-success" %>
  </div>
<% end %>

<%= link_to "Volver", :back, class: "btn btn-success" %>
</div>

<p>No te gusta? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>
<div class="card-pic">
<h2>¡ Hola <strong><%= current_user.user_name.titleize %></strong> !</h2>
<img src="https://clinicadoctorespejo.com/wp-content/uploads/2020/06/doctor-png.png" alt="salud">
</div>
</div>
