<div class="background-sesion">
  <div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center " >
      <div class ="background-sesion-image" style="background-image: url('https://cdni.iconscout.com/illustration/premium/thumb/doctor-checking-baby-girl-4047414-3351729.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;" ></div>
        <div class="welcome-text">
          <h1>SALUD APP</h1>
          <p>Bienvenido a Salud App, una aplicacion de salud para <br>llevar tus documentos clinicos a cualquier lugar.</p>
          </div>
    </div>
    <div class="col d-flex flex-column justify-content-center align-items-center">
      <div class="bg-white mx-auto sesion-form border border-dark">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <br>
          <div class="h2-cuenta" >
          <h2>¡Regístrate!</h2>
          </div>
          <br>
          <div class="form-inputs inputs-sesion sesion-miniform">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :user_name,
                        placeholder: "Marcela Soriana Palacios Matias",
                        required: true,
                        autofocus: true,
                        input_html: {
                          autocomplete: "nombre completo",
                        } %>
            <%= f.input :dni,
                        placeholder: "00000000",
                        required: true,
                        autofocus: true,
                        input_html: {
                          autocomplete: "dni",
                        } %>
            <%= f.input :phone,
                        placeholder: "+51999999999",
                        required: true,
                        autofocus: true,
                        input_html: {
                          autocomplete: "dni",
                        } %>
            <%= f.input :address,
                        placeholder: "Calle los algarrobos Lima Perú",
                        required: true,
                        autofocus: true,
                        input_html: {
                          autocomplete: "dirección",
                        } %>
            <%= f.input :photo, required: false, id:"input-photo"%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>

          </div>

              <%= f.button :submit, "Sign up", class:"btn btn-success signup-button" %>

      </div>

        <% end %>

      </div>
    </div>

</div>
