<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "link-dark text-decoration-none navbar-brand " do %>
      <%= image_tag "https://qhalikay.qolkex.org/img/logo.png", class: "navbar-logo" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#sidebar-modal">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-expanded="false">Servicios</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown03">
              <%= link_to "Historial medico", medical_histories_records_path, class: "nav-link" %>
              <%= link_to "Resultados medicos", records_path, class: "nav-link" %>
              <%= link_to "Centros medicos", clinics_path, class: "nav-link" %>
            </div>
        </li>
        <% if current_user.admin || current_user.doctor %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown2" data-toggle="dropdown" aria-expanded="false">Administrador</a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
              <%= link_to "Crear clinica", new_clinic_path, class: "nav-link" %>
              <%= link_to "Crear registro", new_record_path, class: "nav-link" %>
              <%= link_to "Buscar registro",patients_records_records_path, class: "nav-link" %>
            </div>
        </li>
        <% end %>
        <li class="nav-item dropdown mr-3">

        <% if current_user.photo.key === nil %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", "data-toggle": "dropdown", 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", "data-toggle": "dropdown", 'aria-expanded': false %>
        <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Editar usuario", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/sidebar" %>
