
        <div class="bg-white rounded p-3 shadow">
          <div
            class="card-category form d-flex align-items-end "
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1599045118108-bf9954418b76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80); background-size: cover; height: 150px;"
          ></div>
          <br>
          <h2 class="text-black text-center">Crea el nuevo registro de Chequeo Médico general</h2>
          <br />
          <%= simple_form_for @record do |f| %>
            <%= f.error_notification %>
            <%= if f.object.errors[:base].present?
                  f.error_notification message: f.object.errors[:base].to_sentence
                end %>

            <div class="form-inputs form1">
              <%= f.input :appointment, label: "Fecha de exámen medico", placeholder: "1/08/2021" %>
              <%= f.association :user, label: "Dni del paciente", collection: User.all.where.not(admin: true).order(:dni), prompt: "Buscar por Dni", input_html: { class: "select2" } %>
              <%= f.association :clinic, label: "Nombre del Centro de Salud", collection: Clinic.all.order(:name), prompt: "Buscar por Nombre", input_html: { class: "select2" } %>
              <%= f.input :history, label: "Este es un chequeo médico general", :input_html => { :checked => true, :hidden => true } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, value: "Crear registro", class: "btn btn-flat" %>
            </div>
          <% end %>
        </div>
