
        <div class="bg-white  p-3 shadow form1">
          <div
            class="card-category  form d-flex align-items-end "
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513224502586-d1e602410265?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80); background-size: cover; height: 150px; background-position: center;"
          ></div>
          <br>
          <% if @record.id.present? %>
            <h2 class="text-black text-center">Edita este registro de Exámen Médico ambulatorio</h2>
          <% else %>
            <h2 class="text-black text-center">Crea el nuevo registro de Exámen Médico ambulatorio</h2>
          <% end %>
          <br />
          <%= simple_form_for @record, remote: true do |f| %>
            <%= f.error_notification %>
            <%= if f.object.errors[:base].present?
                  f.error_notification message: f.object.errors[:base].to_sentence
                end %>

            <div class="form-inputs form1">
              <%= f.input :appointment, label: "Fecha de exámen medico", placeholder: "1/08/2021" %>
              <%= f.association :user, label: "Dni del paciente", collection: User.all.where.not(admin: true).where.not(id: current_user.id).order(:dni), prompt: "Buscar por Dni", input_html: { class: "select2" } %>
              <%= f.association :clinic, label: "Nombre del Centro de Salud", collection: Clinic.all.order(:name), prompt: "Buscar por Nombre", input_html: { class: "select2" } %>
            </div>

            <div class="form-actions">
            <% if @record.id.present? %>
              <%= f.button :submit, value: "Actualizar", class: "btn btn-flat" %>
            <% else %>
              <%= f.button :submit, value: "Crear registro", class: "btn btn-flat" %>
            <% end %>
            </div>
          <% end %>
        </div>
