<div class="accordion" id="accordionExample">
<% @records.each do |record| %>

    <div class="accordion-item">
      <h2 class="accordion-header" id=<%= "record-heading#{record.id}" %>>
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=<%= "#record-collapse#{record.id}" %> aria-expanded="false" aria-controls=<%= "record-collapse#{record.id}" %>>
          <img src="https://www.svgrepo.com/show/76803/hospital.svg" width="30px" class="mr-3" alt="Logo-hospital"><%= record.clinic.name %> <%= record.appointment %>
          <br>
        </button>
      </h2>
      <div id=<%= "record-collapse#{record.id}" %>  class="accordion-collapse collapse" aria-labelledby=<%= "record-heading#{record.id}" %> >
        <div class="accordion-body">
          <ul>
            <li>
              <div class="d-flex justify-content-between">
              <h2>Imagenes <%= record.medical_image.photos.count.positive? ? record.medical_image.photos.count : 0 %></h2>
                <% if record.medical_image.photos.count.positive? %>
                  <div>
                    <%= link_to "detalles", record_path(id: record.id, item: "medical-image"), class: "btn btn-primary" %>
                    <button type="button" class="btn btn-primary">Descargar</button>
                  </div>
                <% else %>
                  <div>
                    <p> No hay archivos por mostrar </p>
                  </div>
                <% end %>
              </div>
            </li>
            <li>
            <div class="d-flex justify-content-between">
              <h2>Resultados <%= record.medical_result.photos.count.positive? ? record.medical_result.photos.count : 0 %></h2>
                <% if record.medical_result.photos.count.positive? %>
                  <div>
                    <%= link_to "detalles", record_path(id: record.id, item: "medical-result"), class: "btn btn-primary" %>
                    <button type="button" class="btn btn-primary">Descargar</button>
                  </div>
                <% else %>
                  <div>
                    <p> No hay archivos por mostrar </p>
                  </div>
                <% end %>
              </div>
            </li>
            <li>
              <div class="d-flex justify-content-between">
                <h2>Recetas <%= record.prescription.photos.count.positive? ? record.prescription.photos.count : 0 %></h2>
                  <% if record.prescription.photos.count.positive? %>
                    <div>
                      <%= link_to "detalles", record_path(id: record.id, item: "prescription"), class: "btn btn-primary" %>
                      <button type="button" class="btn btn-primary">Descargar</button>
                  <% else %>
                    <div>
                      <p> No hay archivos por mostrar </p>
                    </div>
                  <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

<% end %>
</div>
