
<div class="background-sesion">
  <div class="row m-0" style="max-width: 100% ">
  <div class="col-12 col-md-6 p-0 m-0 d-flex flex-column justify-content-center align-items-center" >
  <div class ="background-sesion-image w-100" style="background-image: url('https://cdni.iconscout.com/illustration/premium/thumb/doctor-checking-baby-girl-4047414-3351729.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;" ></div>
  <div class="welcome-text">
  <h1>QHALIKAY APP</h1>
  <p>Bienvenido a QHALIKAY, una aplicacion de salud para <br>llevar tus documentos clinicos a cualquier lugar.</p>
  </div>
  </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center ">
      <div class="bg-white mx-auto sesion-form border border-dark">
        <br>
        <div class="d-flex align-items-center justify-content-between headers-form">
          <h5 class="h5-form">Ingresa</h5>
          <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-link register" %><br />
        </div>
          <br>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs inputs-sesion sesion-miniform">
            <%= f.input :email,
                        required: false,
                        label: "Correo/email",
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        label: "Contraseña",
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

            <div class="form-actions btn btn-success button">
              <%= f.button :submit, "Ingresar" %>
            </div>
            <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
